- title I18n.t('ui.home')
.row
  .span8.offset2
    .search-box
      %h1= I18n.t('ui.search_header')
      %br
      = form_tag entries_path, :method => :get do
        .input-append
          .centered-box
            = autocomplete_field_tag :search, '', autocomplete_entry_term_entries_path, :size => 75, :class => "large", :placeholder => I18n.t('ui.search_prompt') 
            %button.btn.add-on#search-button
              %i.icon-search
