- title @user.name
.page-header
  %h1 User profile

%table.table.table-bordered
  %tbody
    %tr
      %th User name
      %td= @user.name
    %tr
      %th Role
      %td= best_in_place @user, :role, type: :select, collection: User::ROLES.map { |role| [role, role.capitalize] } 
    %tr
      %th Glossary entries added
      %td= @user.entries.length
    %tr
      %th Registered on
      %td= @user.created_at.strftime('%B %d, %Y @ %l:%M %p')
