.sprite-icons-24-folder-horizontal-open{ background:url('icons-24.png') no-repeat 0px 0px;width:24px; height:24px;}
.sprite-icons-24-paper-bag{ background:url('icons-24.png') no-repeat -24px 0px;width:24px; height:24px;}
.sprite-icons-24-document-text-image{ background:url('icons-24.png') no-repeat 0px -24px;width:24px; height:24px;}
.sprite-icons-24-document-import{ background:url('icons-24.png') no-repeat -24px -24px;width:24px; height:24px;}
.sprite-icons-24-server{ background:url('icons-24.png') no-repeat -48px 0px;width:24px; height:24px;}
.sprite-icons-24-information{ background:url('icons-24.png') no-repeat -48px -24px;width:24px; height:24px;}
.sprite-icons-24-arrow-circle-225{ background:url('icons-24.png') no-repeat 0px -48px;width:24px; height:24px;}
.sprite-icons-24-book-brown{ background:url('icons-24.png') no-repeat -24px -48px;width:24px; height:24px;}
.sprite-icons-24-clock{ background:url('icons-24.png') no-repeat -48px -48px;width:24px; height:24px;}
.sprite-icons-24-arrow-split{ background:url('icons-24.png') no-repeat -72px 0px;width:24px; height:24px;}
.sprite-icons-24-feed{ background:url('icons-24.png') no-repeat -72px -24px;width:24px; height:24px;}
.sprite-icons-24-ticket{ background:url('icons-24.png') no-repeat -72px -48px;width:24px; height:24px;}
.sprite-icons-24-battery-full{ background:url('icons-24.png') no-repeat 0px -72px;width:24px; height:24px;}
.sprite-icons-24-universal{ background:url('icons-24.png') no-repeat -24px -72px;width:24px; height:24px;}
.sprite-icons-24-printer{ background:url('icons-24.png') no-repeat -48px -72px;width:24px; height:24px;}
.sprite-icons-24-arrow{ background:url('icons-24.png') no-repeat -72px -72px;width:24px; height:24px;}
.sprite-icons-24-thumb{ background:url('icons-24.png') no-repeat -96px 0px;width:24px; height:24px;}
.sprite-icons-24-address-book-blue{ background:url('icons-24.png') no-repeat -96px -24px;width:24px; height:24px;}
.sprite-icons-24-arrow-curve{ background:url('icons-24.png') no-repeat -96px -48px;width:24px; height:24px;}
.sprite-icons-24-arrow-circle{ background:url('icons-24.png') no-repeat -96px -72px;width:24px; height:24px;}
.sprite-icons-24-ruler{ background:url('icons-24.png') no-repeat 0px -96px;width:24px; height:24px;}
.sprite-icons-24-store-label{ background:url('icons-24.png') no-repeat -24px -96px;width:24px; height:24px;}
.sprite-icons-24-keyboard{ background:url('icons-24.png') no-repeat -48px -96px;width:24px; height:24px;}
.sprite-icons-24-plus-circle{ background:url('icons-24.png') no-repeat -72px -96px;width:24px; height:24px;}
.sprite-icons-24-script-export{ background:url('icons-24.png') no-repeat -96px -96px;width:24px; height:24px;}
.sprite-icons-24-microphone{ background:url('icons-24.png') no-repeat -120px 0px;width:24px; height:24px;}
.sprite-icons-24-keyboard-command{ background:url('icons-24.png') no-repeat -120px -24px;width:24px; height:24px;}
.sprite-icons-24-light-bulb{ background:url('icons-24.png') no-repeat -120px -48px;width:24px; height:24px;}
.sprite-icons-24-folder{ background:url('icons-24.png') no-repeat -120px -72px;width:24px; height:24px;}
.sprite-icons-24-monitor{ background:url('icons-24.png') no-repeat -120px -96px;width:24px; height:24px;}
.sprite-icons-24-mail{ background:url('icons-24.png') no-repeat 0px -120px;width:24px; height:24px;}
.sprite-icons-24-star-empty{ background:url('icons-24.png') no-repeat -24px -120px;width:24px; height:24px;}
.sprite-icons-24-magnifier{ background:url('icons-24.png') no-repeat -48px -120px;width:24px; height:24px;}
.sprite-icons-24-megaphone{ background:url('icons-24.png') no-repeat -72px -120px;width:24px; height:24px;}
.sprite-icons-24-image-import{ background:url('icons-24.png') no-repeat -96px -120px;width:24px; height:24px;}
.sprite-icons-24-card-export{ background:url('icons-24.png') no-repeat -120px -120px;width:24px; height:24px;}
.sprite-icons-24-point{ background:url('icons-24.png') no-repeat -144px 0px;width:24px; height:24px;}
.sprite-icons-24-arrow-join-270{ background:url('icons-24.png') no-repeat -144px -24px;width:24px; height:24px;}
.sprite-icons-24-soap{ background:url('icons-24.png') no-repeat -144px -48px;width:24px; height:24px;}
.sprite-icons-24-photo-album{ background:url('icons-24.png') no-repeat -144px -72px;width:24px; height:24px;}
.sprite-icons-24-box{ background:url('icons-24.png') no-repeat -144px -96px;width:24px; height:24px;}
.sprite-icons-24-terminal{ background:url('icons-24.png') no-repeat -144px -120px;width:24px; height:24px;}
.sprite-icons-24-arrow-merge{ background:url('icons-24.png') no-repeat 0px -144px;width:24px; height:24px;}
.sprite-icons-24-blue-folder-horizontal-open{ background:url('icons-24.png') no-repeat -24px -144px;width:24px; height:24px;}
.sprite-icons-24-battery{ background:url('icons-24.png') no-repeat -48px -144px;width:24px; height:24px;}
.sprite-icons-24-magnifier-zoom{ background:url('icons-24.png') no-repeat -72px -144px;width:24px; height:24px;}
.sprite-icons-24-television{ background:url('icons-24.png') no-repeat -96px -144px;width:24px; height:24px;}
.sprite-icons-24-blue-document-text{ background:url('icons-24.png') no-repeat -120px -144px;width:24px; height:24px;}
.sprite-icons-24-arrow-circle-315{ background:url('icons-24.png') no-repeat -144px -144px;width:24px; height:24px;}
.sprite-icons-24-user-business-boss{ background:url('icons-24.png') no-repeat -168px 0px;width:24px; height:24px;}
.sprite-icons-24-navigation-180{ background:url('icons-24.png') no-repeat -168px -24px;width:24px; height:24px;}
.sprite-icons-24-tag-export{ background:url('icons-24.png') no-repeat -168px -48px;width:24px; height:24px;}
.sprite-icons-24-box-label{ background:url('icons-24.png') no-repeat -168px -72px;width:24px; height:24px;}
.sprite-icons-24-home{ background:url('icons-24.png') no-repeat -168px -96px;width:24px; height:24px;}
.sprite-icons-24-battery-plug{ background:url('icons-24.png') no-repeat -168px -120px;width:24px; height:24px;}
.sprite-icons-24-jar-label{ background:url('icons-24.png') no-repeat -168px -144px;width:24px; height:24px;}
.sprite-icons-24-scissors-blue{ background:url('icons-24.png') no-repeat 0px -168px;width:24px; height:24px;}
.sprite-icons-24-disc{ background:url('icons-24.png') no-repeat -24px -168px;width:24px; height:24px;}
.sprite-icons-24-eye{ background:url('icons-24.png') no-repeat -48px -168px;width:24px; height:24px;}
.sprite-icons-24-sitemap{ background:url('icons-24.png') no-repeat -72px -168px;width:24px; height:24px;}
.sprite-icons-24-tag-label{ background:url('icons-24.png') no-repeat -96px -168px;width:24px; height:24px;}
.sprite-icons-24-arrow-270{ background:url('icons-24.png') no-repeat -120px -168px;width:24px; height:24px;}
.sprite-icons-24-blue-document-text-image{ background:url('icons-24.png') no-repeat -144px -168px;width:24px; height:24px;}
.sprite-icons-24-alarm-clock-blue{ background:url('icons-24.png') no-repeat -168px -168px;width:24px; height:24px;}
.sprite-icons-24-marker{ background:url('icons-24.png') no-repeat -192px 0px;width:24px; height:24px;}
.sprite-icons-24-document-text{ background:url('icons-24.png') no-repeat -192px -24px;width:24px; height:24px;}
.sprite-icons-24-globe{ background:url('icons-24.png') no-repeat -192px -48px;width:24px; height:24px;}
.sprite-icons-24-blue-folder-export{ background:url('icons-24.png') no-repeat -192px -72px;width:24px; height:24px;}
.sprite-icons-24-star-half{ background:url('icons-24.png') no-repeat -192px -96px;width:24px; height:24px;}
.sprite-icons-24-document-horizontal{ background:url('icons-24.png') no-repeat -192px -120px;width:24px; height:24px;}
.sprite-icons-24-blue-folder-horizontal{ background:url('icons-24.png') no-repeat -192px -144px;width:24px; height:24px;}
.sprite-icons-24-arrow-curve-180{ background:url('icons-24.png') no-repeat -192px -168px;width:24px; height:24px;}
.sprite-icons-24-fire{ background:url('icons-24.png') no-repeat 0px -192px;width:24px; height:24px;}
.sprite-icons-24-question{ background:url('icons-24.png') no-repeat -24px -192px;width:24px; height:24px;}
.sprite-icons-24-wand-hat{ background:url('icons-24.png') no-repeat -48px -192px;width:24px; height:24px;}
.sprite-icons-24-arrow-merge-090{ background:url('icons-24.png') no-repeat -72px -192px;width:24px; height:24px;}
.sprite-icons-24-layer{ background:url('icons-24.png') no-repeat -96px -192px;width:24px; height:24px;}
.sprite-icons-24-keyboard-space{ background:url('icons-24.png') no-repeat -120px -192px;width:24px; height:24px;}
.sprite-icons-24-calendar-blue{ background:url('icons-24.png') no-repeat -144px -192px;width:24px; height:24px;}
.sprite-icons-24-tick{ background:url('icons-24.png') no-repeat -168px -192px;width:24px; height:24px;}
.sprite-icons-24-briefcase{ background:url('icons-24.png') no-repeat -192px -192px;width:24px; height:24px;}
.sprite-icons-24-calendar-import{ background:url('icons-24.png') no-repeat -216px 0px;width:24px; height:24px;}
.sprite-icons-24-bookmark-import{ background:url('icons-24.png') no-repeat -216px -24px;width:24px; height:24px;}
.sprite-icons-24-application{ background:url('icons-24.png') no-repeat -216px -48px;width:24px; height:24px;}
.sprite-icons-24-ui-toolbar{ background:url('icons-24.png') no-repeat -216px -72px;width:24px; height:24px;}
.sprite-icons-24-media-player-black{ background:url('icons-24.png') no-repeat -216px -96px;width:24px; height:24px;}
.sprite-icons-24-application-import{ background:url('icons-24.png') no-repeat -216px -120px;width:24px; height:24px;}
.sprite-icons-24-arrow-curve-090{ background:url('icons-24.png') no-repeat -216px -144px;width:24px; height:24px;}
.sprite-icons-24-inbox{ background:url('icons-24.png') no-repeat -216px -168px;width:24px; height:24px;}
.sprite-icons-24-smiley-lol{ background:url('icons-24.png') no-repeat -216px -192px;width:24px; height:24px;}
.sprite-icons-24-battery-empty{ background:url('icons-24.png') no-repeat 0px -216px;width:24px; height:24px;}
.sprite-icons-24-exclamation{ background:url('icons-24.png') no-repeat -24px -216px;width:24px; height:24px;}
.sprite-icons-24-inbox-film{ background:url('icons-24.png') no-repeat -48px -216px;width:24px; height:24px;}
.sprite-icons-24-blue-folder-import{ background:url('icons-24.png') no-repeat -72px -216px;width:24px; height:24px;}
.sprite-icons-24-arrow-split-090{ background:url('icons-24.png') no-repeat -96px -216px;width:24px; height:24px;}
.sprite-icons-24-vise{ background:url('icons-24.png') no-repeat -120px -216px;width:24px; height:24px;}
.sprite-icons-24-arrow-split-180{ background:url('icons-24.png') no-repeat -144px -216px;width:24px; height:24px;}
.sprite-icons-24-star{ background:url('icons-24.png') no-repeat -168px -216px;width:24px; height:24px;}
.sprite-icons-24-database-import{ background:url('icons-24.png') no-repeat -192px -216px;width:24px; height:24px;}
.sprite-icons-24-system-monitor{ background:url('icons-24.png') no-repeat -216px -216px;width:24px; height:24px;}
.sprite-icons-24-document{ background:url('icons-24.png') no-repeat -240px 0px;width:24px; height:24px;}
.sprite-icons-24-eraser{ background:url('icons-24.png') no-repeat -240px -24px;width:24px; height:24px;}
.sprite-icons-24-arrow-merge-180{ background:url('icons-24.png') no-repeat -240px -48px;width:24px; height:24px;}
.sprite-icons-24-blue-document-export{ background:url('icons-24.png') no-repeat -240px -72px;width:24px; height:24px;}
.sprite-icons-24-bell{ background:url('icons-24.png') no-repeat -240px -96px;width:24px; height:24px;}
.sprite-icons-24-drive{ background:url('icons-24.png') no-repeat -240px -120px;width:24px; height:24px;}
.sprite-icons-24-mobile-phone{ background:url('icons-24.png') no-repeat -240px -144px;width:24px; height:24px;}
.sprite-icons-24-film{ background:url('icons-24.png') no-repeat -240px -168px;width:24px; height:24px;}
.sprite-icons-24-color-swatch{ background:url('icons-24.png') no-repeat -240px -192px;width:24px; height:24px;}
.sprite-icons-24-bookmark-export{ background:url('icons-24.png') no-repeat -240px -216px;width:24px; height:24px;}
.sprite-icons-24-zone{ background:url('icons-24.png') no-repeat 0px -240px;width:24px; height:24px;}
.sprite-icons-24-arrow-circle-135{ background:url('icons-24.png') no-repeat -24px -240px;width:24px; height:24px;}
.sprite-icons-24-user-female{ background:url('icons-24.png') no-repeat -48px -240px;width:24px; height:24px;}
.sprite-icons-24-user-business{ background:url('icons-24.png') no-repeat -72px -240px;width:24px; height:24px;}
.sprite-icons-24-table-export{ background:url('icons-24.png') no-repeat -96px -240px;width:24px; height:24px;}
.sprite-icons-24-stamp{ background:url('icons-24.png') no-repeat -120px -240px;width:24px; height:24px;}
.sprite-icons-24-map{ background:url('icons-24.png') no-repeat -144px -240px;width:24px; height:24px;}
.sprite-icons-24-store{ background:url('icons-24.png') no-repeat -168px -240px;width:24px; height:24px;}
.sprite-icons-24-navigation-270{ background:url('icons-24.png') no-repeat -192px -240px;width:24px; height:24px;}
.sprite-icons-24-pencil{ background:url('icons-24.png') no-repeat -216px -240px;width:24px; height:24px;}
.sprite-icons-24-webcam{ background:url('icons-24.png') no-repeat -240px -240px;width:24px; height:24px;}
.sprite-icons-24-image-sunset{ background:url('icons-24.png') no-repeat -264px 0px;width:24px; height:24px;}
.sprite-icons-24-balloon-facebook{ background:url('icons-24.png') no-repeat -264px -24px;width:24px; height:24px;}
.sprite-icons-24-globe-green{ background:url('icons-24.png') no-repeat -264px -48px;width:24px; height:24px;}
.sprite-icons-24-light-bulb-off{ background:url('icons-24.png') no-repeat -264px -72px;width:24px; height:24px;}
.sprite-icons-24-table{ background:url('icons-24.png') no-repeat -264px -96px;width:24px; height:24px;}
.sprite-icons-24-jar{ background:url('icons-24.png') no-repeat -264px -120px;width:24px; height:24px;}
.sprite-icons-24-smiley{ background:url('icons-24.png') no-repeat -264px -144px;width:24px; height:24px;}
.sprite-icons-24-magnifier-zoom-out{ background:url('icons-24.png') no-repeat -264px -168px;width:24px; height:24px;}
.sprite-icons-24-balloon{ background:url('icons-24.png') no-repeat -264px -192px;width:24px; height:24px;}
.sprite-icons-24-lifebuoy{ background:url('icons-24.png') no-repeat -264px -216px;width:24px; height:24px;}
.sprite-icons-24-receipt{ background:url('icons-24.png') no-repeat -264px -240px;width:24px; height:24px;}
.sprite-icons-24-inbox-table{ background:url('icons-24.png') no-repeat 0px -264px;width:24px; height:24px;}
.sprite-icons-24-magnifier-zoom-fit{ background:url('icons-24.png') no-repeat -24px -264px;width:24px; height:24px;}
.sprite-icons-24-navigation-090{ background:url('icons-24.png') no-repeat -48px -264px;width:24px; height:24px;}
.sprite-icons-24-calendar-day{ background:url('icons-24.png') no-repeat -72px -264px;width:24px; height:24px;}
.sprite-icons-24-application-sidebar-list{ background:url('icons-24.png') no-repeat -96px -264px;width:24px; height:24px;}
.sprite-icons-24-ui-color-picker-transparent{ background:url('icons-24.png') no-repeat -120px -264px;width:24px; height:24px;}
.sprite-icons-24-arrow-circle-double{ background:url('icons-24.png') no-repeat -144px -264px;width:24px; height:24px;}
.sprite-icons-24-bin-metal{ background:url('icons-24.png') no-repeat -168px -264px;width:24px; height:24px;}
.sprite-icons-24-photo-album-blue{ background:url('icons-24.png') no-repeat -192px -264px;width:24px; height:24px;}
.sprite-icons-24-blue-folder-open{ background:url('icons-24.png') no-repeat -216px -264px;width:24px; height:24px;}
.sprite-icons-24-cross-circle{ background:url('icons-24.png') no-repeat -240px -264px;width:24px; height:24px;}
.sprite-icons-24-plus{ background:url('icons-24.png') no-repeat -264px -264px;width:24px; height:24px;}
.sprite-icons-24-scissors{ background:url('icons-24.png') no-repeat -288px 0px;width:24px; height:24px;}
.sprite-icons-24-blue-folder{ background:url('icons-24.png') no-repeat -288px -24px;width:24px; height:24px;}
.sprite-icons-24-database-export{ background:url('icons-24.png') no-repeat -288px -48px;width:24px; height:24px;}
.sprite-icons-24-wooden-box-label{ background:url('icons-24.png') no-repeat -288px -72px;width:24px; height:24px;}
.sprite-icons-24-image{ background:url('icons-24.png') no-repeat -288px -96px;width:24px; height:24px;}
.sprite-icons-24-arrow-090{ background:url('icons-24.png') no-repeat -288px -120px;width:24px; height:24px;}
.sprite-icons-24-equalizer{ background:url('icons-24.png') no-repeat -288px -144px;width:24px; height:24px;}
.sprite-icons-24-arrow-join-090{ background:url('icons-24.png') no-repeat -288px -168px;width:24px; height:24px;}
.sprite-icons-24-counter{ background:url('icons-24.png') no-repeat -288px -192px;width:24px; height:24px;}
.sprite-icons-24-camera-lens{ background:url('icons-24.png') no-repeat -288px -216px;width:24px; height:24px;}
.sprite-icons-24-receipt-export{ background:url('icons-24.png') no-repeat -288px -240px;width:24px; height:24px;}
.sprite-icons-24-inbox-document{ background:url('icons-24.png') no-repeat -288px -264px;width:24px; height:24px;}
.sprite-icons-24-card-address{ background:url('icons-24.png') no-repeat 0px -288px;width:24px; height:24px;}
.sprite-icons-24-newspaper{ background:url('icons-24.png') no-repeat -24px -288px;width:24px; height:24px;}
.sprite-icons-24-minus{ background:url('icons-24.png') no-repeat -48px -288px;width:24px; height:24px;}
.sprite-icons-24-folder-import{ background:url('icons-24.png') no-repeat -72px -288px;width:24px; height:24px;}
.sprite-icons-24-mail-open{ background:url('icons-24.png') no-repeat -96px -288px;width:24px; height:24px;}
.sprite-icons-24-service-bell{ background:url('icons-24.png') no-repeat -120px -288px;width:24px; height:24px;}
.sprite-icons-24-inbox-image{ background:url('icons-24.png') no-repeat -144px -288px;width:24px; height:24px;}
.sprite-icons-24-lock{ background:url('icons-24.png') no-repeat -168px -288px;width:24px; height:24px;}
.sprite-icons-24-tag-import{ background:url('icons-24.png') no-repeat -192px -288px;width:24px; height:24px;}
.sprite-icons-24-notebook{ background:url('icons-24.png') no-repeat -216px -288px;width:24px; height:24px;}
.sprite-icons-24-arrow-repeat{ background:url('icons-24.png') no-repeat -240px -288px;width:24px; height:24px;}
.sprite-icons-24-application-blue{ background:url('icons-24.png') no-repeat -264px -288px;width:24px; height:24px;}
.sprite-icons-24-script-text{ background:url('icons-24.png') no-repeat -288px -288px;width:24px; height:24px;}
.sprite-icons-24-monitor-sidebar{ background:url('icons-24.png') no-repeat -312px 0px;width:24px; height:24px;}
.sprite-icons-24-application-sidebar{ background:url('icons-24.png') no-repeat -312px -24px;width:24px; height:24px;}
.sprite-icons-24-blue-document-horizontal{ background:url('icons-24.png') no-repeat -312px -48px;width:24px; height:24px;}
.sprite-icons-24-card{ background:url('icons-24.png') no-repeat -312px -72px;width:24px; height:24px;}
.sprite-icons-24-document-export{ background:url('icons-24.png') no-repeat -312px -96px;width:24px; height:24px;}
.sprite-icons-24-calculator{ background:url('icons-24.png') no-repeat -312px -120px;width:24px; height:24px;}
.sprite-icons-24-sofa{ background:url('icons-24.png') no-repeat -312px -144px;width:24px; height:24px;}
.sprite-icons-24-book{ background:url('icons-24.png') no-repeat -312px -168px;width:24px; height:24px;}
.sprite-icons-24-ui-color-picker{ background:url('icons-24.png') no-repeat -312px -192px;width:24px; height:24px;}
.sprite-icons-24-table-sheet{ background:url('icons-24.png') no-repeat -312px -216px;width:24px; height:24px;}
.sprite-icons-24-switch{ background:url('icons-24.png') no-repeat -312px -240px;width:24px; height:24px;}
.sprite-icons-24-inbox-document-music{ background:url('icons-24.png') no-repeat -312px -264px;width:24px; height:24px;}
.sprite-icons-24-arrow-180{ background:url('icons-24.png') no-repeat -312px -288px;width:24px; height:24px;}
.sprite-icons-24-e-book-reader{ background:url('icons-24.png') no-repeat 0px -312px;width:24px; height:24px;}
.sprite-icons-24-minus-circle{ background:url('icons-24.png') no-repeat -24px -312px;width:24px; height:24px;}
.sprite-icons-24-sticky-note{ background:url('icons-24.png') no-repeat -48px -312px;width:24px; height:24px;}
.sprite-icons-24-media-player{ background:url('icons-24.png') no-repeat -72px -312px;width:24px; height:24px;}
.sprite-icons-24-receipt-text{ background:url('icons-24.png') no-repeat -96px -312px;width:24px; height:24px;}
.sprite-icons-24-balloon-twitter{ background:url('icons-24.png') no-repeat -120px -312px;width:24px; height:24px;}
.sprite-icons-24-folder-export{ background:url('icons-24.png') no-repeat -144px -312px;width:24px; height:24px;}
.sprite-icons-24-edit{ background:url('icons-24.png') no-repeat -168px -312px;width:24px; height:24px;}
.sprite-icons-24-credit-card-green{ background:url('icons-24.png') no-repeat -192px -312px;width:24px; height:24px;}
.sprite-icons-24-inbox-document-text{ background:url('icons-24.png') no-repeat -216px -312px;width:24px; height:24px;}
.sprite-icons-24-alarm-clock{ background:url('icons-24.png') no-repeat -240px -312px;width:24px; height:24px;}
.sprite-icons-24-navigation{ background:url('icons-24.png') no-repeat -264px -312px;width:24px; height:24px;}
.sprite-icons-24-calendar-month{ background:url('icons-24.png') no-repeat -288px -312px;width:24px; height:24px;}
.sprite-icons-24-bin{ background:url('icons-24.png') no-repeat -312px -312px;width:24px; height:24px;}
.sprite-icons-24-magnifier-zoom-actual-equal{ background:url('icons-24.png') no-repeat -336px 0px;width:24px; height:24px;}
.sprite-icons-24-arrow-circle-double-135{ background:url('icons-24.png') no-repeat -336px -24px;width:24px; height:24px;}
.sprite-icons-24-ui-color-picker-default{ background:url('icons-24.png') no-repeat -336px -48px;width:24px; height:24px;}
.sprite-icons-24-thumb-up{ background:url('icons-24.png') no-repeat -336px -72px;width:24px; height:24px;}
.sprite-icons-24-arrow-repeat-once{ background:url('icons-24.png') no-repeat -336px -96px;width:24px; height:24px;}
.sprite-icons-24-magnet{ background:url('icons-24.png') no-repeat -336px -120px;width:24px; height:24px;}
.sprite-icons-24-user{ background:url('icons-24.png') no-repeat -336px -144px;width:24px; height:24px;}
.sprite-icons-24-address-book{ background:url('icons-24.png') no-repeat -336px -168px;width:24px; height:24px;}
.sprite-icons-24-arrow-join-180{ background:url('icons-24.png') no-repeat -336px -192px;width:24px; height:24px;}
.sprite-icons-24-calendar{ background:url('icons-24.png') no-repeat -336px -216px;width:24px; height:24px;}
.sprite-icons-24-magnifier-zoom-in{ background:url('icons-24.png') no-repeat -336px -240px;width:24px; height:24px;}
.sprite-icons-24-wand{ background:url('icons-24.png') no-repeat -336px -264px;width:24px; height:24px;}
.sprite-icons-24-yin-yang{ background:url('icons-24.png') no-repeat -336px -288px;width:24px; height:24px;}
.sprite-icons-24-receipt-import{ background:url('icons-24.png') no-repeat -336px -312px;width:24px; height:24px;}
.sprite-icons-24-image-export{ background:url('icons-24.png') no-repeat 0px -336px;width:24px; height:24px;}
.sprite-icons-24-color{ background:url('icons-24.png') no-repeat -24px -336px;width:24px; height:24px;}
.sprite-icons-24-blue-document{ background:url('icons-24.png') no-repeat -48px -336px;width:24px; height:24px;}
.sprite-icons-24-battery-charge{ background:url('icons-24.png') no-repeat -72px -336px;width:24px; height:24px;}
.sprite-icons-24-folder-open{ background:url('icons-24.png') no-repeat -96px -336px;width:24px; height:24px;}
.sprite-icons-24-script{ background:url('icons-24.png') no-repeat -120px -336px;width:24px; height:24px;}
.sprite-icons-24-application-export{ background:url('icons-24.png') no-repeat -144px -336px;width:24px; height:24px;}
.sprite-icons-24-disk{ background:url('icons-24.png') no-repeat -168px -336px;width:24px; height:24px;}
.sprite-icons-24-table-import{ background:url('icons-24.png') no-repeat -192px -336px;width:24px; height:24px;}
.sprite-icons-24-camera{ background:url('icons-24.png') no-repeat -216px -336px;width:24px; height:24px;}
.sprite-icons-24-blue-document-import{ background:url('icons-24.png') no-repeat -240px -336px;width:24px; height:24px;}
.sprite-icons-24-target{ background:url('icons-24.png') no-repeat -264px -336px;width:24px; height:24px;}
.sprite-icons-24-sort{ background:url('icons-24.png') no-repeat -288px -336px;width:24px; height:24px;}
.sprite-icons-24-bookmark{ background:url('icons-24.png') no-repeat -312px -336px;width:24px; height:24px;}
.sprite-icons-24-inbox-slide{ background:url('icons-24.png') no-repeat -336px -336px;width:24px; height:24px;}
.sprite-icons-24-calendar-export{ background:url('icons-24.png') no-repeat -360px 0px;width:24px; height:24px;}
.sprite-icons-24-inbox-document-music-playlist{ background:url('icons-24.png') no-repeat -360px -24px;width:24px; height:24px;}
.sprite-icons-24-magnifier-zoom-actual{ background:url('icons-24.png') no-repeat -360px -48px;width:24px; height:24px;}
.sprite-icons-24-disc-blue{ background:url('icons-24.png') no-repeat -360px -72px;width:24px; height:24px;}
.sprite-icons-24-cross{ background:url('icons-24.png') no-repeat -360px -96px;width:24px; height:24px;}
.sprite-icons-24-water{ background:url('icons-24.png') no-repeat -360px -120px;width:24px; height:24px;}
.sprite-icons-24-arrow-join{ background:url('icons-24.png') no-repeat -360px -144px;width:24px; height:24px;}
.sprite-icons-24-script-import{ background:url('icons-24.png') no-repeat -360px -168px;width:24px; height:24px;}
.sprite-icons-24-arrow-curve-270{ background:url('icons-24.png') no-repeat -360px -192px;width:24px; height:24px;}
.sprite-icons-24-arrow-merge-270{ background:url('icons-24.png') no-repeat -360px -216px;width:24px; height:24px;}
.sprite-icons-24-wooden-box{ background:url('icons-24.png') no-repeat -360px -240px;width:24px; height:24px;}
.sprite-icons-24-magnifier-left{ background:url('icons-24.png') no-repeat -360px -264px;width:24px; height:24px;}
.sprite-icons-24-database{ background:url('icons-24.png') no-repeat -360px -288px;width:24px; height:24px;}
.sprite-icons-24-disk-black{ background:url('icons-24.png') no-repeat -360px -312px;width:24px; height:24px;}
.sprite-icons-24-paper-bag-label{ background:url('icons-24.png') no-repeat -360px -336px;width:24px; height:24px;}
.sprite-icons-24-wall{ background:url('icons-24.png') no-repeat 0px -360px;width:24px; height:24px;}
.sprite-icons-24-tag{ background:url('icons-24.png') no-repeat -24px -360px;width:24px; height:24px;}
.sprite-icons-24-ui-tab{ background:url('icons-24.png') no-repeat -48px -360px;width:24px; height:24px;}
.sprite-icons-24-folder-horizontal{ background:url('icons-24.png') no-repeat -72px -360px;width:24px; height:24px;}
.sprite-icons-24-arrow-split-270{ background:url('icons-24.png') no-repeat -96px -360px;width:24px; height:24px;}
.sprite-icons-24-arrow-retweet{ background:url('icons-24.png') no-repeat -120px -360px;width:24px; height:24px;}
.sprite-icons-24-battery-low{ background:url('icons-24.png') no-repeat -144px -360px;width:24px; height:24px;}
.sprite-icons-24-card-import{ background:url('icons-24.png') no-repeat -168px -360px;width:24px; height:24px;}
.sprite-icons-24-credit-card{ background:url('icons-24.png') no-repeat -192px -360px;width:24px; height:24px;}
.sprite-icons-24-socket{ background:url('icons-24.png') no-repeat -216px -360px;width:24px; height:24px;}
