.sprite-icons-thumb{ background:url('icons.png') no-repeat -112px -192px;width:16px; height:16px;}
.sprite-icons-thumb-up{ background:url('icons.png') no-repeat 0px -816px;width:16px; height:16px;}
.sprite-icons-pencil{ background:url('icons.png') no-repeat -176px -624px;width:16px; height:16px;}
.sprite-icons-cross{ background:url('icons.png') no-repeat 0px -880px;width:16px; height:16px;}
