.sprite-icons-32-document-text-image{ background:url('icons-32.png') no-repeat 0px 0px;width:32px; height:32px;}
.sprite-icons-32-information{ background:url('icons-32.png') no-repeat -32px 0px;width:32px; height:32px;}
.sprite-icons-32-clock{ background:url('icons-32.png') no-repeat 0px -32px;width:32px; height:32px;}
.sprite-icons-32-arrow{ background:url('icons-32.png') no-repeat -32px -32px;width:32px; height:32px;}
.sprite-icons-32-keyboard{ background:url('icons-32.png') no-repeat -64px 0px;width:32px; height:32px;}
.sprite-icons-32-plus-circle{ background:url('icons-32.png') no-repeat -64px -32px;width:32px; height:32px;}
.sprite-icons-32-keyboard-command{ background:url('icons-32.png') no-repeat 0px -64px;width:32px; height:32px;}
.sprite-icons-32-folder{ background:url('icons-32.png') no-repeat -32px -64px;width:32px; height:32px;}
.sprite-icons-32-monitor{ background:url('icons-32.png') no-repeat -64px -64px;width:32px; height:32px;}
.sprite-icons-32-mail{ background:url('icons-32.png') no-repeat -96px 0px;width:32px; height:32px;}
.sprite-icons-32-blue-document-text{ background:url('icons-32.png') no-repeat -96px -32px;width:32px; height:32px;}
.sprite-icons-32-disc{ background:url('icons-32.png') no-repeat -96px -64px;width:32px; height:32px;}
.sprite-icons-32-tag-label{ background:url('icons-32.png') no-repeat 0px -96px;width:32px; height:32px;}
.sprite-icons-32-arrow-270{ background:url('icons-32.png') no-repeat -32px -96px;width:32px; height:32px;}
.sprite-icons-32-blue-document-text-image{ background:url('icons-32.png') no-repeat -64px -96px;width:32px; height:32px;}
.sprite-icons-32-document-text{ background:url('icons-32.png') no-repeat -96px -96px;width:32px; height:32px;}
.sprite-icons-32-document-horizontal{ background:url('icons-32.png') no-repeat -128px 0px;width:32px; height:32px;}
.sprite-icons-32-blue-folder-horizontal{ background:url('icons-32.png') no-repeat -128px -32px;width:32px; height:32px;}
.sprite-icons-32-question{ background:url('icons-32.png') no-repeat -128px -64px;width:32px; height:32px;}
.sprite-icons-32-layer{ background:url('icons-32.png') no-repeat -128px -96px;width:32px; height:32px;}
.sprite-icons-32-keyboard-space{ background:url('icons-32.png') no-repeat 0px -128px;width:32px; height:32px;}
.sprite-icons-32-calendar-blue{ background:url('icons-32.png') no-repeat -32px -128px;width:32px; height:32px;}
.sprite-icons-32-tick{ background:url('icons-32.png') no-repeat -64px -128px;width:32px; height:32px;}
.sprite-icons-32-application{ background:url('icons-32.png') no-repeat -96px -128px;width:32px; height:32px;}
.sprite-icons-32-smiley-lol{ background:url('icons-32.png') no-repeat -128px -128px;width:32px; height:32px;}
.sprite-icons-32-exclamation{ background:url('icons-32.png') no-repeat -160px 0px;width:32px; height:32px;}
.sprite-icons-32-document{ background:url('icons-32.png') no-repeat -160px -32px;width:32px; height:32px;}
.sprite-icons-32-film{ background:url('icons-32.png') no-repeat -160px -64px;width:32px; height:32px;}
.sprite-icons-32-color-swatch{ background:url('icons-32.png') no-repeat -160px -96px;width:32px; height:32px;}
.sprite-icons-32-zone{ background:url('icons-32.png') no-repeat -160px -128px;width:32px; height:32px;}
.sprite-icons-32-map{ background:url('icons-32.png') no-repeat 0px -160px;width:32px; height:32px;}
.sprite-icons-32-image-sunset{ background:url('icons-32.png') no-repeat -32px -160px;width:32px; height:32px;}
.sprite-icons-32-table{ background:url('icons-32.png') no-repeat -64px -160px;width:32px; height:32px;}
.sprite-icons-32-smiley{ background:url('icons-32.png') no-repeat -96px -160px;width:32px; height:32px;}
.sprite-icons-32-balloon{ background:url('icons-32.png') no-repeat -128px -160px;width:32px; height:32px;}
.sprite-icons-32-receipt{ background:url('icons-32.png') no-repeat -160px -160px;width:32px; height:32px;}
.sprite-icons-32-calendar-day{ background:url('icons-32.png') no-repeat -192px 0px;width:32px; height:32px;}
.sprite-icons-32-application-sidebar-list{ background:url('icons-32.png') no-repeat -192px -32px;width:32px; height:32px;}
.sprite-icons-32-cross-circle{ background:url('icons-32.png') no-repeat -192px -64px;width:32px; height:32px;}
.sprite-icons-32-plus{ background:url('icons-32.png') no-repeat -192px -96px;width:32px; height:32px;}
.sprite-icons-32-blue-folder{ background:url('icons-32.png') no-repeat -192px -128px;width:32px; height:32px;}
.sprite-icons-32-image{ background:url('icons-32.png') no-repeat -192px -160px;width:32px; height:32px;}
.sprite-icons-32-arrow-090{ background:url('icons-32.png') no-repeat 0px -192px;width:32px; height:32px;}
.sprite-icons-32-counter{ background:url('icons-32.png') no-repeat -32px -192px;width:32px; height:32px;}
.sprite-icons-32-card-address{ background:url('icons-32.png') no-repeat -64px -192px;width:32px; height:32px;}
.sprite-icons-32-minus{ background:url('icons-32.png') no-repeat -96px -192px;width:32px; height:32px;}
.sprite-icons-32-lock{ background:url('icons-32.png') no-repeat -128px -192px;width:32px; height:32px;}
.sprite-icons-32-notebook{ background:url('icons-32.png') no-repeat -160px -192px;width:32px; height:32px;}
.sprite-icons-32-application-blue{ background:url('icons-32.png') no-repeat -192px -192px;width:32px; height:32px;}
.sprite-icons-32-script-text{ background:url('icons-32.png') no-repeat -224px 0px;width:32px; height:32px;}
.sprite-icons-32-monitor-sidebar{ background:url('icons-32.png') no-repeat -224px -32px;width:32px; height:32px;}
.sprite-icons-32-application-sidebar{ background:url('icons-32.png') no-repeat -224px -64px;width:32px; height:32px;}
.sprite-icons-32-blue-document-horizontal{ background:url('icons-32.png') no-repeat -224px -96px;width:32px; height:32px;}
.sprite-icons-32-card{ background:url('icons-32.png') no-repeat -224px -128px;width:32px; height:32px;}
.sprite-icons-32-arrow-180{ background:url('icons-32.png') no-repeat -224px -160px;width:32px; height:32px;}
.sprite-icons-32-e-book-reader{ background:url('icons-32.png') no-repeat -224px -192px;width:32px; height:32px;}
.sprite-icons-32-minus-circle{ background:url('icons-32.png') no-repeat 0px -224px;width:32px; height:32px;}
.sprite-icons-32-sticky-note{ background:url('icons-32.png') no-repeat -32px -224px;width:32px; height:32px;}
.sprite-icons-32-receipt-text{ background:url('icons-32.png') no-repeat -64px -224px;width:32px; height:32px;}
.sprite-icons-32-calendar-month{ background:url('icons-32.png') no-repeat -96px -224px;width:32px; height:32px;}
.sprite-icons-32-magnet{ background:url('icons-32.png') no-repeat -128px -224px;width:32px; height:32px;}
.sprite-icons-32-calendar{ background:url('icons-32.png') no-repeat -160px -224px;width:32px; height:32px;}
.sprite-icons-32-color{ background:url('icons-32.png') no-repeat -192px -224px;width:32px; height:32px;}
.sprite-icons-32-blue-document{ background:url('icons-32.png') no-repeat -224px -224px;width:32px; height:32px;}
.sprite-icons-32-script{ background:url('icons-32.png') no-repeat -256px 0px;width:32px; height:32px;}
.sprite-icons-32-bookmark{ background:url('icons-32.png') no-repeat -256px -32px;width:32px; height:32px;}
.sprite-icons-32-disc-blue{ background:url('icons-32.png') no-repeat -256px -64px;width:32px; height:32px;}
.sprite-icons-32-cross{ background:url('icons-32.png') no-repeat -256px -96px;width:32px; height:32px;}
.sprite-icons-32-database{ background:url('icons-32.png') no-repeat -256px -128px;width:32px; height:32px;}
.sprite-icons-32-tag{ background:url('icons-32.png') no-repeat -256px -160px;width:32px; height:32px;}
.sprite-icons-32-folder-horizontal{ background:url('icons-32.png') no-repeat -256px -192px;width:32px; height:32px;}
